<div class="container">
    <div class="clear"></div>
    <div *ngIf="assistanceDetails?.length == 0">
        <h6 class="text-white mt-5 ml-3 align-middle">No assistance required at this moment.</h6>
        <div class="container mt-5">
        </div>
    </div>
    <div *ngIf="assistanceDetails?.length >= 0">
        <div class="row mx-auto">
            <div class="col-sm-3 card-group mt-3" *ngFor="let assistanceDetail of assistanceDetails">
                <div class="card assistance-card mb-3" [ngStyle]="{'border-color':assistanceDetail.tag[0] === 'Essentials' ? 'rgb(2, 117, 216)' : 'rgb(240, 173, 78)' }" style="max-width: 18rem;">
                    <div class="card-header" >{{assistanceDetail.name}}</div>                    
                    <div class="card-body">
                        <h6 *ngIf="assistanceDetail.itemRequested" class="card-title">{{assistanceDetail.itemRequested}}</h6>

                        <span *ngIf="assistanceDetail.address" class="card-text">
                            Address: {{assistanceDetail.address}}
                        </span>
                        <p *ngIf="assistanceDetail.phone" class="card-text">
                            Phone No: {{assistanceDetail.phone}}
                        </p>
                        <p *ngIf="assistanceDetail.date" class="card-text">
                            Date: <small>{{assistanceDetail.date}}</small>
                        </p>
                    </div>
                    <div class="card-footer">
                        <button *ngIf="!assistanceDetail.isActioned" type="button" class="btn btn-outline-light text-white" [ngStyle]="{'background-color':assistanceDetail.tag[0] === 'Essentials' ? 'rgb(2, 117, 216)' : 'rgb(240, 173, 78)' }"
                            (click)="accepted(assistanceDetail)">Accept</button>
                        <button *ngIf="assistanceDetail.isActioned" type="button" class="btn btn-outline-danger btn-sm bg-dark text-white unfavorite-btn d-block mx-auto"
                            (click)="reject(assistanceDetail)">Accepted</button>
                    </div>
                </div>
            </div>            
        </div>
    </div>
</div>