<h1 class="mb-3">User Profile</h1>

<div class="row">
    <div class="col-xs-12 col-sm-10 col-md-6 cold-sm-offset-1 col-md-offset-3">
        <form class="jumbotron" [formGroup]="profileForm" autocomplete="off" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="firstname" class="control-label">First Name</label>
                <input type="text" id="firstname" name="firstname"  [ngClass]="{ 'is-invalid': submitted && firstNameControl.errors }" class="form-control" formControlName="firstName">
                <div *ngIf="submitted && firstNameControl.errors" class="invalid-feedback">
                    <div *ngIf="firstNameControl.errors.required">First Name is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="lastname" class="control-label">Last Name</label>
                <input type="text" id="lastname" name="lastname" class="form-control" [ngClass]="{ 'is-invalid': submitted && lastNameControl.errors }" formControlName="lastName">
                <div *ngIf="submitted && lastNameControl.errors" class="invalid-feedback">
                    <div *ngIf="lastNameControl.errors.required">Last Name is required</div>
                </div>
            </div>
            <div class="form-group d-none" >
                <label for="email" class="control-label">Email</label>
                <input type="email" id="email" name="email" readonly class="form-control" formControlName="email">
            </div>
            <div class="form-group">
                <label for="contactNumber" class="control-label">Contact Number</label>
                <input type="text" id="contactNumber" name="contactNumber" [ngClass]="{ 'is-invalid': submitted && contactNumberControl.errors }" class="form-control" formControlName="contactNumber">
                <div *ngIf="submitted && contactNumberControl.errors" class="invalid-feedback">
                    <div *ngIf="contactNumberControl.errors.required">Contact Number is required</div>
                </div>
            </div>
            <div class="form-group">
                <label for="addressLine1" class="control-label">Address Line1</label>
                <input type="text" id="addressLine1" name="addressLine1" class="form-control" [ngClass]="{ 'is-invalid': submitted && addressLine1Control.errors }" 
                    formControlName="addressLine1">
                    <div *ngIf="submitted && addressLine1Control.errors" [ngClass]="{ 'is-invalid': submitted && addressLine1Control.errors }" class="invalid-feedback">
                        <div *ngIf="addressLine1Control.errors.required">Address Line1 is required</div>
                    </div>
            </div>
            <div class="form-group">
                <label for="addressLine2" class="control-label">Address Line2 (Optional)</label>
                <input type="text" id="addressLine2" name="addressLine2" class="form-control"
                    formControlName="addressLine2">
            </div>
            <div class="form-group">
                <label for="addressLine3" class="control-label">Address Line3 (Optional)</label>
                <input type="text" id="addressLine3" name="addressLine3" class="form-control"
                    formControlName="addressLine3">
            </div>
            <div class="form-group">
                <label for="city" class="control-label">City</label>
                <input type="text" id="city" name="city" [ngClass]="{ 'is-invalid': submitted && cityControl.errors }" class="form-control"
                    formControlName="city">
                    <div *ngIf="submitted && cityControl.errors" class="invalid-feedback">
                        <div *ngIf="cityControl.errors.required">City is required</div>
                    </div>
            </div>
            <div class="form-group">
                <label for="country" class="control-label">Country</label>
                <input type="text" id="country" name="country" [ngClass]="{ 'is-invalid': submitted && countryControl.errors }" class="form-control"
                    formControlName="country">
                    <div *ngIf="submitted && countryControl.errors" class="invalid-feedback">
                        <div *ngIf="countryControl.errors.required">Country is required</div>
                    </div>
            </div>
            <div class="form-group">
                <label for="postCode" class="control-label">Post Code</label>
                <input type="text" id="postCode" name="postCode" [ngClass]="{ 'is-invalid': submitted && postCodeControl.errors }" class="form-control"
                    formControlName="postCode">
                    <div *ngIf="submitted && postCodeControl.errors" class="invalid-feedback">
                        <div *ngIf="postCodeControl.errors.required">Post Code is required</div>
                    </div>
            </div>
            <button class="btn btn-primary" type="submit">Submit
            </button>
        </form>
    </div>
</div>
